{% extends "base_generic.html" %} <!-- Optional, if you have a base template -->

{% block content %}
  <h1>Books</h1>

  {% if books %}
    <ul>
      {% for book in books %}
        <li>
          {{ book.title }} by {{ book.author }} ({{ book.publication_year }})
          <!-- Links for edit/delete if the user has permission -->
          {% if perms.bookshelf.can_edit %}
            <a href="{% url 'edit_book' book.id %}">Edit</a>
          {% endif %}
          {% if perms.bookshelf.can_delete %}
            <a href="{% url 'delete_book' book.id %}">Delete</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No books available.</p>
  {% endif %}

  {% if perms.bookshelf.can_create %}
    <a href="{% url 'create_book' %}">Add a new book</a>
  {% endif %}

{% endblock %}
